/* Google Maps Styling */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 20rem;
  width: auto;
  margin: auto;
}

#floating-panel {
  position: relative;
  top: 10px;
  /* left: 25%; */
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: left;
  font-family: "Roboto", "sans-serif";
  line-height: 20px;
  padding-left: 10px;
  margin: auto;
  width: 60%;
  background-color: #f2f2f2;
}

#floating-panel select {
  display: block;
}

#warnings-panel {
  width: 100%;
  height: 10%;
  text-align: center;
}

.testDiv {
  height: 50%;
  width: auto;
  margin: auto;
}

/*End Google Maps Styling*/

.noPadding {
  padding: 0px;
}

/* currency puzzle styles */
.currency-puzzle-image {
  width: 700px;
  height: auto;
  margin: auto;
}

/* end currency puzzle styles */